.Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 16px;

    .H1 {
        font-family: var(--font-primary);
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 150%;
        color: var(--color-primary);
        text-align: center;
    }
}