.Div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;

    &>p {
        color: var(--color-primary);
    }

    input {
        background-color: var(--color-grey-2);
        border: 1px solid var(--color-grey-1);
        border-radius: 4px;
        padding: 8px 12px;
        color: var(--color-grey-0);
        font-size: 1rem;
        outline: none;

        &::placeholder {
            color: #a8a8a8;
        }

        &:focus {
            border-color: var(--color-primary);
        }

        &:disabled {
            opacity: 0.9;
        }
    }

    button {
        background-color: transparent;
        position: absolute;
        top: 23px;
        right: -106px;
        cursor: pointer;

        svg {
            color: var(--color-grey-0);
        }
    }
}